### Time Series Basics

1. DateTime Index
2. Time Resampling
3. Time Shifting
4. Rolling and Expanding
5. Time Series Visualization

In [1]:
from datetime import datetime
import numpy as np
import pandas as pd

In [2]:
Year = 2022
Month = 1
Day = 1
Hour = 12
Minute = 55
Second = 55

In [3]:
Date = datetime(year=Year, month=Month, day=Day, hour=Hour, minute=Minute, second=Second)

In [4]:
Date

datetime.datetime(2022, 1, 1, 12, 55, 55)

In [5]:
for x in dir(Date):
    if not x.startswith('__'):
        print(x)

astimezone
combine
ctime
date
day
dst
fold
fromisocalendar
fromisoformat
fromordinal
fromtimestamp
hour
isocalendar
isoformat
isoweekday
max
microsecond
min
minute
month
now
replace
resolution
second
strftime
strptime
time
timestamp
timetuple
timetz
today
toordinal
tzinfo
tzname
utcfromtimestamp
utcnow
utcoffset
utctimetuple
weekday
year

Current **Date** and **Time**.

In [6]:
datetime.today()

datetime.datetime(2021, 11, 14, 10, 54, 4, 957320)

Important **Methods**.

In [7]:
print(f'Date : {Date}')
print(f'Year : {Date.year}')
print(f'Month : {Date.month}')
print(f'Day : {Date.day}')
print(f'Hour : {Date.hour}')
print(f'Minute : {Date.minute}')
print(f'Second : {Date.second}')

Date : 2022-01-01 12:55:55
Year : 2022
Month : 1
Day : 1
Hour : 12
Minute : 55
Second : 55

NumPy datetime **Array**.

datetime **precisions**

- datetime64[Y] : Year
- datetime64[M] : Month
- datetime64[D] : Day
- datetime64[ns] : Nano Second

In [8]:
np.array(['2021-11-15', '2021-11-16'], dtype='datetime64[Y]')

array(['2021', '2021'], dtype='datetime64[Y]')

In [9]:
np.array(['2021-11-15', '2021-11-16'], dtype='datetime64[M]')

array(['2021-11', '2021-11'], dtype='datetime64[M]')

In [10]:
np.array(['2021-11-15', '2021-11-16'], dtype='datetime64[D]')

array(['2021-11-15', '2021-11-16'], dtype='datetime64[D]')

By default it is **Day** precision.

In [11]:
DateArray = np.array(['2021-11-15', '2021-11-16', '2021-11-17', '2021-11-18', '2021-11-19', '2021-11-20'], dtype='datetime64')
DateArray

array(['2021-11-15', '2021-11-16', '2021-11-17', '2021-11-18',
       '2021-11-19', '2021-11-20'], dtype='datetime64[D]')

Converting NumPy **Array** to Pandas **DataFrame**.

In [12]:
df = pd.DataFrame(DateArray, columns=['Date'])
df

        Date
0 2021-11-15
1 2021-11-16
2 2021-11-17
3 2021-11-18
4 2021-11-19
5 2021-11-20

In [13]:
df.set_index('Date', inplace=True)

In [14]:
df

Empty DataFrame
Columns: []
Index: [2021-11-15 00:00:00, 2021-11-16 00:00:00, 2021-11-17 00:00:00, 2021-11-18 00:00:00, 2021-11-19 00:00:00, 2021-11-20 00:00:00]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2021-11-15 to 2021-11-20
Empty DataFrame

In [16]:
df.index

DatetimeIndex(['2021-11-15', '2021-11-16', '2021-11-17', '2021-11-18',
               '2021-11-19', '2021-11-20'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [17]:
type(df)

pandas.core.frame.DataFrame

Array Range : **arange**

**step=7** (Step size of 7 Days i.e a week : **datetime64[D]**)

In [18]:
np.arange(start='2021-11-15', stop='2021-11-30', step=7, dtype='datetime64[D]')

array(['2021-11-15', '2021-11-22', '2021-11-29'], dtype='datetime64[D]')

In [19]:
np.arange(start='2021', stop='2025', dtype='datetime64[Y]')

array(['2021', '2022', '2023', '2024'], dtype='datetime64[Y]')

### datetime Index

In [20]:
pd.date_range(start='2021-01-01', periods=7, freq='D')

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07'],
              dtype='datetime64[ns]', freq='D')

In [21]:
pd.date_range(start='Jan 01, 2021', periods=7, freq='D')

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07'],
              dtype='datetime64[ns]', freq='D')

In [22]:
pd.to_datetime(['1/2/2021', 'Jan 03, 2021'])

DatetimeIndex(['2021-01-02', '2021-01-03'], dtype='datetime64[ns]', freq=None)

### Formatting

In [23]:
pd.to_datetime(['1/1/2021', '2/1/2021'], format='%d/%m/%Y')

DatetimeIndex(['2021-01-01', '2021-01-02'], dtype='datetime64[ns]', freq=None)

In [24]:
data = np.random.randn(3, 2)
col = ['A', 'B']
print(data)

[[-0.634885   -0.55757197]
 [-1.15430194  0.26810705]
 [-0.09724657  0.60141597]]

In [25]:
dateindex = pd.date_range(start='2021-11-15', periods=3, freq='D')
df = pd.DataFrame(data=data, columns=col, index=dateindex)
df

                   A         B
2021-11-15 -0.634885 -0.557572
2021-11-16 -1.154302  0.268107
2021-11-17 -0.097247  0.601416

In [26]:
print(f'Most Recent Date : {df.index.max()}')
print(f'Oldest or Earliest Date : {df.index.min()}')

Most Recent Date : 2021-11-17 00:00:00
Oldest or Earliest Date : 2021-11-15 00:00:00